<div class="panel-control">

  <div class="row panel-control">
    <div class="col-md-3">
      <div class="btn-group" dropdown>
        <button id="button-basic" dropdownToggle type="button" class="btn btn-primary dropdown-toggle"
                aria-controls="dropdown-basic">Contas <span class="caret"></span>
        </button>
        <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu" role="menu"
            aria-labelledby="button-basic">
          <li role="menuitem"><a class="dropdown-item" >All</a></li>
          <li class="divider dropdown-divider"></li>
          <li *ngFor="let account of accounts" role="menuitem"><a
            [attr.aria-expanded]="!account.isCollapsed" class="dropdown-item"
            (click)="account.isCollapsed = !account.isCollapsed">Account {{account.name}}</a></li>
        </ul>
      </div>
    </div>
  </div>
  <hr>

  <div class="row" *ngFor="let account of accounts" id="collapseEvent"
       [isAnimated]="true"
       [collapse]="account.isCollapsed">
    <div class="col-lg-12">
      <div class="card card-border">
        <div class="card-header"> {{account.exchange + ' by ' + account.name }}
        </div>
        <div class="">
          <table
            datatable
            [dtOptions]="dtOptions"
            [dtTrigger]="dtTrigger"
            class="table table-responsive-md  mb-0">
            <thead>
            <tr>
              <th>Moeda</th>
              <th>Quota</th>
              <th>Mudança (24h)</th>
              <th>Preço</th>
              <th>Quantia</th>
              <th>Total</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let bal of account.balance">
              <td>{{bal.name}}</td>
              <td>{{bal.name}}</td>
              <td>{{bal.name}}</td>
              <td>{{bal.name}}</td>
              <td>{{bal.name}}</td>
              <td>{{bal.name2}}</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
